body{
margin:0px;
border:0px;
}
#header{
width:100%;
height:150px;
background:black;
color:white;
}
#sidebar{
width:300px;
height:100%;
background:#280d0d;
color:orange;
float:left;
}
#data{

background:orange;
color:white;
height:100%;
}
#dataa{

background:white;
color:white;
height:100%;
}
#adminlogo{
width:100px;
height:100px;
background:white;
border-radius:50px;
}
ul li{
padding:20px;
border-bottom:3px solid grey;
}
ul li:hover{
background:#160101;
color:white;
}